.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #000000;

  &_wrapper {
    border-top: 1px solid #000000;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    display: flex;
  }

  &_frame {
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    flex-grow: 1;
  }

  &_title {
    width: 1116px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-top: none;
    height: 90px;

    h1 {
      font-family: 'Alegreya Sans SC', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      color: #000000;
      margin-left: 40px;
    }
  }

  &_information {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;

    &_wrapper {
      display: flex;
      width: 1116px;
    }

    &_item {
      height: 45px;
      box-sizing: border-box;
      border-right: 1px solid #000000;
      flex-grow: 1;
      justify-content: center;
      display: flex;

      &:first-child {
        border-left: 1px solid #000000;
      }

      p {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        margin: 11px 23px;
      }
    }

    &_button {
      width: 182px;
      height: 45px;
      background: #101010;
      border: 1px solid #0D1E4B;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      color: #FFFFFF;
      cursor: pointer;
      box-sizing: border-box;

    }

    .second {
      width: 247px;
    }
  }
}
