@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=Open+Sans:wght@600&display=swap');

.profile-posts {
  text-align: start;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  height: 247px;
  margin: 25px 0 0;
  display: flex;
  justify-content: center;
  width: 100%;

  &_wrapper {
    width: 1116px;
  }

  h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
    margin: 16px 0 16px;
  }

  &_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 24px;
    box-sizing: border-box;
    justify-content: space-between;

    &_text {
      color: rgba(0, 0, 0, 0.41);
      font-size: 11px;
    }

    h2 {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      text-transform: capitalize;
      color: #000000;
      margin: 0;
    }

    p {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      color: #000000;
      margin: 0;
    }

    &_info {
      width: 490px;
      box-sizing: border-box;
      border: 1px solid #000000;
      padding: 24px;

      &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.profile-publications {
  box-sizing: border-box;
  margin: 0 53px;
  text-align: start;
  display: flex;
  justify-content: center;

  &_wrapper {
    width: 1116px;
  }

  h2 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
    margin: 22px 0;
  }

  &_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  &_item {
    width: 154px;
    height: 154px;
    box-sizing: border-box;
    border: 1px solid #000000;

    &:nth-child(1) {
      background: #63B4EE;
    }

    &:nth-child(2) {
      background: #2B9FF2;
    }

    &:nth-child(3) {
      background: #547FED;
    }

    &:nth-child(4) {
      background: #4366E1;
    }

    &:nth-child(5) {
      background: #2040B0;
    }

    &:nth-child(6) {
      background: #0C257C;
    }
  }
}