@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #101010;

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 60px;
    width: 1116px;
  }

  &_title {
    color: #FFFFFF;
    font-family: 'Alegreya Sans SC', serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-9);
    cursor: pointer;
  }

  &_buttons {
    width: 423px;
    display: flex;
    justify-content: space-between;

    .MuiButton-root {
      background-color: #FFFFFF;
      color: #000000;
      width: 205px;
      height: 40px;
      font-family: 'Proxima Nova', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: var(--font-size-1);
    }
  }
}