.profilesList {
  width: 1116px;

  .profilesList_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 60px;
  }

  .profilesList_profiles {
    margin: 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .profilesList_profiles_item {
      border: 1px solid #DADADA;
    }

    .profilesList_profiles_item:hover {
      border: 1px solid #000000;
      cursor: pointer;
    }
  }
}