@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=Open+Sans:wght@600&display=swap');

.profiles-list {
  display: flex;
  justify-content: center;

  &_wrapper {
    width: 1116px;
  }

  &_counter {
    &-value {
      font-family: 'Alegreya Sans SC';
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 40px;
      color: #000;

      &._total {
        color: #e0e0e0
      }
    }
  }

  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-family: 'Alegreya Sans SC';
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 40px;
      color: #000000;
    }
  }

  &_profiles {
    display: flex;
    align-items: center;
    justify-content: center;

    &_item {
      border: 1px solid #DADADA;
      min-width: 239px;
      width: 100%;
      height: 143px;
      padding: 17px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      text-align: start;

      &:not(:last-child) {
        margin-right: 13px;
      }

      button {
        width: 148px;
        height: 35px;
        background: #101010;
        border: 1px solid #0D1E4B;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-top: auto;
        cursor: pointer;
      }

      h4 {
        margin: 0 0 4px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        text-transform: capitalize;
        color: #000000;
      }

      p {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.41);
      }

      &:hover {
        border: 1px solid #000000;
      }
    }
  }
}