.poster {
  background-image: url('../../assets/images/banner.jpg');
  height: 439px;
  background-size: cover;
  width: 1116px;

  &_title {
    color: #FFFFFF;
    font-family: 'Alegreya Sans SC', serif;
    padding-top: 157px;

    h2 {
      margin: 0;
      font-size: 50px;
    }

    h3 {
      margin: 0;
      font-size: 30px;
    }
  }

  &_button {
    margin-top: 96px;

    .MuiButton-root {
      background-color: #FFFFFF;
      color: #000000;
      padding: 10px 20px;
      width: 205px;
      height: 40px;

      span {
        font-family: 'Proxima Nova', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
      }
    }
  }
}