.poster {
  display: flex;
  justify-content: center;
  background-image: url('../../assets/images/banner.jpg');
  height: 439px;
  background-size: cover;
  position: relative;

  &_shadow {
    width: 593px;
    height: 156px;
    position: absolute;
    top: calc(50% - 79px);
    background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1116px;
    z-index: 1;
  }

  &_title {
    padding-top: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;

    h2 {
      margin: 0;
      font-size: var(--font-size-13);
      line-height: 60px;
    }

    h3 {
      margin: 0;
      font-size: var(--font-size-10);
    }
  }

  &_button {
    margin-top: 96px;

    .MuiButton-root {
      background-color: #FFFFFF;
      color: #000000;
      padding: 10px 20px;
      width: 205px;
      height: 40px;

      span {
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: var(--font-size-1);
      }
    }
  }
}