@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=Open+Sans:wght@600&display=swap');

.footer {
  display: flex;
  justify-content: center;
  margin-top: 63px;

  &_wrapper {
    display: grid;
    width: 1116px;
    text-align: left;
    grid-template-columns: max-content auto;
    column-gap: 38px;
  }

  &_title {
    margin: 0;
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    color: #000000;
  }

  p {
    height: 72px;
    margin: 0;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #939393;
  }
}